# IMPORTING DATA USING PANDAS

Sometimes you may need to work with data.  One tool you can keep on hand is pandas (https://pandas.pydata.org), which will allow you to manipulate and analyze your data within your notebook.

In [2]:
import pandas as pd #imports the package

In [3]:
df=pd.DataFrame(data = [               #Allows you to create your own data
['NJ', 'Towaco', 'Square'], 
['CA', 'San Francisco', 'Oval'], 
['TX', 'Austin', 'Triangle'], 
['MD', 'Baltimore', 'Square'], 
['OH', 'Columbus', 'Hexagon'], 
['IL', 'Chicago', 'Circle']
],
columns = ['State', 'City', 'Shape'])
df

  State           City     Shape
0    NJ         Towaco    Square
1    CA  San Francisco      Oval
2    TX         Austin  Triangle
3    MD      Baltimore    Square
4    OH       Columbus   Hexagon
5    IL        Chicago    Circle

In [4]:
df.info()       #gives you information about your data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   State   6 non-null      object
 1   City    6 non-null      object
 2   Shape   6 non-null      object
dtypes: object(3)
memory usage: 272.0+ bytes

In [5]:
df.to_csv('FAKE_DATA.csv', index=False)

In [6]:
new_df = pd.read_csv('FAKE_DATA.csv')   #allows you to import the data as a dataframe

new_df                                  #displays the dataframe

  State           City     Shape
0    NJ         Towaco    Square
1    CA  San Francisco      Oval
2    TX         Austin  Triangle
3    MD      Baltimore    Square
4    OH       Columbus   Hexagon
5    IL        Chicago    Circle

In [7]:
#Random data link
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv"

# Bullet Activities
## Activity 1
Write a code to read the dataset from above and modify the default columns values and print the first 6 rows, then print just a single column from the dataset without using a for loop.

## Activity 2
Rename all of the columns in the dataset (to anything) and organize them in alphabetical order

## Activity 3

Plot the price vs depth (i.e. price(depth)) without assigning those columns to variables (slice the dataframe in your plotting statement). Comment on the correlation between depth and price (does depth alone account for various prices?)